body {
    margin: 0;
    padding: 0;
    font-family: "open_sanssemi", sans-serif;
    background: #38538E;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
a {
    color: #fff;
    font-family: 'open_sansregular', sans-serif;
}

/*styling for title bar and about pop over */
#title {
    color: #FFF;
    font-family: "open_sanssemibold", sans-serif;
    padding: 3 0 0 4;
    font-size: 24px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header {
    position: relative;
    padding: 15px 30px 25px 30px;
    margin: auto;
    z-index: 500;
    background-color: rgb(12, 12, 12);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .75);
    opacity: 0.8;
}
#about {
    padding: 10px 20px 20px 20px;
    z-index: 4000;
    position: absolute;
    background-color: #505050;
    color: white;
    width: 700px;
    left: 50%;
    margin-left: -300px;
    height: calc(100% - 200px);
    top: 100px;
    display: none;
    overflow: hidden;
    opacity: 0.95;
}
#dismiss-about {
    cursor: pointer;
    font-size: 30px;
    float: right;
    margin-bottom: 10px;
}
#inner {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#wardInfo {
  margin: auto;
  max-width: 800px;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 3px;
}

.graph {
  margin: auto;
  max-width: 375px;
}

audio {
  margin: auto;
}
